@{
    ViewBag.Title = "Home Page";
}

<div class="res">
    <h1>Restautrant Rater</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
</div>
<style>
    .res {
        color: aqua;
        
      
      
       text-align:center;
    }
    body{
        background-color:dimgray;
    }
    </style>

        